body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.one {
    background-color: #1f2937;
    padding: 200px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.title-font {
   font-size: 48px;
   font-weight: 800;
   color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content-one-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 20px;
}

.button {
    background-color: #1B4ED8;
    color: black;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.image {
    background-color: gray;
    display: flex;
    
    width: 40%;
}

